#.gitignore
#.dockerignore
#foo/
#app.baj/
*
!public
!server
!node_modules
!package.json
!package-lock.json
!src
!run_test.sh
!.babelrc
!jest.config.js
!jest.setup.js
!nginx.tls.conf
!nginx.notls.conf
!myentrypoint.sh